.addServiceForm {
width: 60%;
display: flex;
flex-direction: column;
}
.mainButton {
    background: tomato;
    width: 30%;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 15px
}
.editInputService {
    width: 70%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #6dd5ed;
    border-radius: 3px;
    margin-bottom: 5px;
}